<form class="form-horizontal"
      autocomplete="off"
      #createRoleForm="ngForm"
      (ngSubmit)="save()">
    <abp-modal-header [title]="'EditState' | localize"
                      (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
    <div class="modal-body">
       
            
                <div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="name">
                        {{"Name" | localize}}
                    </label>
                    <div class="col-md-9">
                        <input type="text"
                               class="form-control"
                               name="name"
                               id="name"
                               required
                               minlength="2"
                               maxlength="32"
                               [(ngModel)]="states.stateName"
                               #nameModel="ngModel"
                               #nameEl />
                        <abp-validation-summary [control]="nameModel"
                                                [controlEl]="nameEl"></abp-validation-summary>
                    </div>
                </div>

                <div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="CountryId">{{"Country" | localize}}</label>
                    <div class="col-md-9">
                    <select id="CountryId" class="form-control" name="CountryId"
                            [(ngModel)]="states.countryId">
                        <option *ngFor="let cs of countriesStates" [value]="cs.country.id">
                            {{cs.country.countryName}}
                        </option>
                    </select>
                        </div>
                </div>
          

        
    </div>
    <abp-modal-footer [cancelDisabled]="saving"
                      [saveDisabled]="!createRoleForm.form.valid || saving"
                      (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>
